In [ ]:
import pandas as pd

In [ ]:
file = '/content/drive/MyDrive/POSTEST1_AVD/Customers.csv'
df = pd.read_csv(file)
df

,CustomerID,Gender,Age,Annual Income ($),Spending Score (1-100),Profession,Work Experience,Family Size
0,1,Male,19,15000,39,Healthcare,1,4
1,2,Male,21,35000,81,Engineer,3,3
2,3,Female,20,86000,6,Engineer,1,1
3,4,Female,23,59000,77,Lawyer,0,2
4,5,Female,31,38000,40,Entertainment,2,6
...,...,...,...,...,...,...,...,...
1995,1996,Female,71,184387,40,Artist,8,7
1996,1997,Female,91,73158,32,Doctor,7,7
1997,1998,Male,87,90961,14,Healthcare,9,2
1998,1999,Male,77,182109,4,Executive,7,2
1999,2000,Male,90,110610,52,Entertainment,5,2

#BISNIS UNDERSTANDING

##**Business Objective**

Dataset pelanggan ini diperoleh dari sistem kartu keanggotaan yang diterapkan oleh sebuah toko tertentu. Data mencakup 2000 pelanggan dengan delapan variabel yang menggambarkan karakteristik demografis dan ekonomi, seperti usia, pendapatan tahunan, profesi, lama pengalaman kerja, jumlah anggota keluarga, serta Spending Score yang merepresentasikan perilaku dan pola pengeluaran pelanggan.

Tujuan utama analisis ini adalah meningkatkan pendapatan toko dengan mengidentifikasi serta memahami segmen pelanggan yang memiliki tingkat pengeluaran tinggi. Melalui pengolahan dan analisisnya, karakteristik serta perilaku pelanggan berdasarkan data yang tersedia, diharapkan dapat ditemukan kelompok pelanggan paling potensial. Hasil analisis tersebut akan membantu pihak toko dalam menentukan target pasar secara lebih tepat, sehingga strategi pemasaran difokuskan pada pelanggan yang memberikan kontribusi pendapatan terbesar.

##**Assess Situation**

Dalam kondisi dataset ini ditemukan beberapa permasalahan kualitas data yang menjadi tantangan dalam proses analisis. Terdapat nilai kosong (missing value), terutama pada atribut Profesi, yang berpotensi mengganggu analisis segmentasi pelanggan. Selain itu, beberapa atribut numerik seperti Umur, Pengalaman Pekerjaan, dan Annual Income menunjukkan kemungkinan adanya nilai yang tidak realistis atau tidak konsisten, sehingga diperlukan proses pemeriksaan serta pembersihan data sebelum analisis dilakukan.

Keterbatasan lain yang dihadapi adalah tidak tersedianya atribut waktu, sehingga analisis perubahan atau tren perilaku pelanggan dari waktu ke waktu tidak dapat dilakukan. Selain itu, Spending Score merupakan nilai yang ditentukan oleh pihak toko berdasarkan penilaian internal, sehingga bersifat subjektif dan belum sepenuhnya merepresentasikan nilai transaksi aktual. Dataset ini juga hanya mencakup pelanggan yang memiliki kartu keanggotaan, sehingga hasil analisis belum dapat menggambarkan keseluruhan populasi pelanggan toko secara menyeluruh.

##**Analytic Goals**

Tahap Analytic Goals merupakan tahap lanjutan dari tujuan bisnis yang sudah ditetapkan, yaitu meningkatkan pendapatan toko dengan memanfaatkan data pelanggan. Pada tahap ini, tujuan bisnis dijabarkan menjadi target analisis yang lebih jelas dan terukur supaya proses pengolahan data dapat dilakukan secara sistematis dan tepat sasaran. Selain itu, hasil dari tahap ini akan menjadi acuan dalam menentukan metode analisis serta jenis visualisasi yang sesuai.
Berikut adalah tujuan analisis dalam proyek ini:

1.	Menjaga kualitas data pelanggan dengan mengatasi nilai kosong (missing value) pada atribut Profesi, serta memeriksa kembali data numerik seperti usia, pengalaman kerja, dan pendapatan tahunan agar data yang digunakan benar-benar valid dan siap dianalisis.

2.	Menggali karakteristik pelanggan dengan tingkat pengeluaran tinggi berdasarkan faktor demografis dan ekonomi, seperti usia, pendapatan, profesi, dan jumlah anggota keluarga.

3.	Mengkaji hubungan antara pendapatan tahunan, usia, dan pengalaman kerja terhadap Spending Score untuk mengetahui faktor mana yang paling berpengaruh terhadap tingginya pengeluaran pelanggan.

4.	Mengelompokkan pelanggan berdasarkan tingkat pengeluaran dan karakteristiknya guna mengetahui segmen pelanggan yang memiliki potensi terbesar dalam meningkatkan pendapatan toko.

5.	Menyediakan landasan analitis sebagai bahan pertimbangan dalam pengambilan keputusan bisnis, terutama dalam menentukan kelompok pelanggan yang perlu diprioritaskan untuk dipertahankan maupun ditingkatkan kontribusinya.

##**Project Plan**

### **1. Data Understanding**

Tahap awal dilakukan untuk memahami struktur dan karakteristik dataset pelanggan. Proses ini mencakup identifikasi jumlah data, tipe variabel (numerik dan kategorikal), serta distribusi atribut seperti usia, pendapatan tahunan, dan Spending Score.

Selain itu, dilakukan pemeriksaan terhadap kemungkinan adanya missing values dan outlier yang dapat memengaruhi hasil analisis.

### **2. Data Preparition**

Pada tahap ini dilakukan pembersihan dan persiapan data agar siap digunakan dalam analisis. Kegiatan yang dilakukan meliputi:

* Penanganan nilai kosong pada atribut Profesi menggunakan metode imputasi atau pengelompokan kategori.

* Perbaikan nilai yang tidak realistis pada variabel usia, pengalaman kerja, dan pendapatan tahunan.

* Standarisasi atau normalisasi data numerik apabila diperlukan untuk analisis lanjutan.

Untuk menghasilkan dataset yang bersih, konsisten, dan valid sehingga dapat digunakan sebagai dasar pengambilan keputusan.

### **3. Analisis & Visualisasi Data**

Setelah data bersih, dilakukan analisis eksploratif untuk mengidentifikasi pola dan hubungan antarvariabel. Analisis ini meliputi:

* Hubungan antara pendapatan, usia, dan pengalaman kerja terhadap Spending Score.

* Pola pengeluaran pelanggan berdasarkan karakteristik demografis.

* Penggunaan statistik deskriptif serta visualisasi seperti scatter plot, bar chart, dan boxplot untuk memperjelas pola data.

###**4. Insight & Action**

Berdasarkan hasil analisis dan visualisasi yang telah dilakukan, teridentifikasi adanya segmen pelanggan dengan Spending Score tinggi yang dipengaruhi oleh faktor pendapatan, usia, serta karakteristik demografis tertentu. Temuan ini menunjukkan bahwa segmen tersebut memberikan kontribusi besar terhadap pendapatan perusahaan. Oleh karena itu, perusahaan perlu mengarahkan strategi pemasaran dan promosi secara lebih terfokus pada kelompok pelanggan berpotensi tinggi tersebut. Di sisi lain, diperlukan pula strategi yang tepat untuk meningkatkan minat dan tingkat pengeluaran pada segmen pelanggan lainnya agar pertumbuhan pendapatan dapat tercapai secara lebih merata dan berkelanjutan.